

<div class="container">

<h1>Jonathan Moreno</h1>
<p>Programmer</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere quam quis tellus fringilla, ac vulputate erat porttitor.</p>

<br>

<a href="" target="blank"><%=image_tag("facebook.png") %> </a>
<a href="" target="blank"><%=image_tag("twitter.png") %> </a>
<a href="" target="blank"><%=image_tag("github.png") %> </a>
<a href="" target="blank"><%=image_tag("linkedIn.png") %> </a>

</div>